<div class="main-display">
    <div class="club-list">
        <div *ngIf="(user_clubs$ | async) as clubs">
            <ng-container *ngIf="clubs.length === 0; else list">
                <div class="empty-list">
                    <mat-card-title>Oops! There are no clubs that match these search results.</mat-card-title>
                </div>
            </ng-container>
            <ng-template #list>
                <tr *ngFor="let user_club of clubs">
                    <div style="position: relative">
                        <mat-card style="width:600px; height: 150px">
                            <mat-card-header>
                                <div class="'event-name-join-button">
                                    <mat-card-title>{{ user_club.club.name }}</mat-card-title>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class='description'>
                                    <span>Categories:&nbsp;</span>
                                    <span *ngFor="let category of user_club.club.categories">
                                        {{ category.name }}&nbsp;&nbsp;
                                    </span>             
                                </div>
                                <div class='description'>
                                    <div>Meeting Times:&nbsp;</div>
                                    <br>
                                    <div *ngFor="let meetingTime of user_club.club.meeting_times">
                                        {{ meetingTime.day }} {{ meetingTime.start_time }} - {{ meetingTime.end_time }}
                                        <br>
                                    </div>
                                </div>
                                <div class='description'>
                                    {{ user_club.club.show_short_description ? getShortDescription(user_club.club) : user_club.club.description }}                  
                                </div>
                                <br>
                                <div class="side-buttons">
                                    <mat-card-actions>
                                        <button mat-raised-button *ngIf="user_club.is_joined; else elseBlock" (click)='changeStatus(user_club)'>Leave</button>
                                        <ng-template #elseBlock>
                                            <button mat-raised-button (click)='changeStatus(user_club)'>Join</button>
                                        </ng-template> 
                                    </mat-card-actions>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)='alterText(user_club.club)' type="submit">
                                            {{ user_club.club.show_short_description ? "Read More" : "Read Less" }}
                                        </button>
                                    </mat-card-actions>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </tr>
            </ng-template>
        </div>
    </div>
    <br>
    <div class="filters">
        <button style="margin-bottom: 10px; width: 100%;" mat-raised-button>
            <a mat-list-item [matMenuTriggerFor]="menu1">
            <span style="margin-top: 4px;">Select Categories </span>
            <span style="margin-bottom: -3px"><mat-icon>arrow_drop_down</mat-icon></span>
            </a> 
        </button>
        <mat-menu  #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu1" #menu1="matMenu" yPosition="below">
        <span *ngFor="let category of categories">
            <mat-checkbox [checked]="isCategorySelected(category)" (change)='selectCategory(category)'>{{ category }}</mat-checkbox>
        </span>
        </mat-menu>
        <div style="margin-bottom: 10px" *ngFor="let weekday of weekdays">
            <button mat-raised-button style="background-color: #4786c6; width: 100%;">
                <mat-checkbox [checked]="isWeekdaySelected(weekday)" (change)="selectDay(weekday)">
                    {{ weekday }}&nbsp;&nbsp;
                </mat-checkbox>
            </button>
            <span *ngIf="isWeekdaySelected(weekday)">
                <mat-checkbox style="margin-bottom: -3px" formControlName="checkbox1" (change)="selectWeekdayTime(weekday, 'Morning')">
                    Morning&nbsp;
                </mat-checkbox>
                <mat-checkbox style="margin-bottom: -3px" formControlName="checkbox1" (change)="selectWeekdayTime(weekday, 'Afternoon')">
                    Afternoon&nbsp;
                </mat-checkbox>
                <mat-checkbox style="margin-bottom: -3px" formControlName="checkbox1" (change)="selectWeekdayTime(weekday, 'Evening')">
                    Evening&nbsp;
                </mat-checkbox>
            </span>
        </div>
        <button style="margin-bottom: 10px; width: 100%;" mat-raised-button (click)='onFilter()'>Apply Filters</button>
        <button style="background-color: #646464; width: 80px; height: 30px;position: relative; left: 120px; top: 0px" mat-raised-button (click)='onShowAllClubs()'>Clear</button>
    </div>
</div>

