<h1>All Clubs</h1>

<table>
    <tbody>
        <!-- <tr *ngFor="let club of clubs$ | async"> -->
        <tr *ngFor="let club of clubs">
            <td>{{ club.name }}</td>
            <div [ngClass]="{'show-less': club.show_short_description}">
                {{ club.show_short_description ? club.short_description : club.full_description }}
            </div>
            <td>
                <button (click)="alterText(club)">
                    {{ club.show_short_description ? "Read More" : "Read Less"}}
                </button>
            </td>
            <td>
                <button (click)="changeStatus(club)">
                    {{ isUserInClub(club) ? "Leave" : "Join"}}
                </button>
            </td>
        </tr>
    </tbody>
</table>
