<form>
    <mat-card>
        <mat-card-header style="margin-bottom:15px">
            <mat-card-title>Change Your Role</mat-card-title>
            <mat-card-subtitle>If you are an administrator or club leader, you may change your role to view your corresponding capabilities. </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Select Your Role</mat-label>
                <mat-select (selectionChange)="selectionChange($event.value)">
                    <mat-option *ngFor="let r of role_routes$ | async" [value]="r.display">
                        {{ r.display }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</form>
