<div *ngIf="(clubs$ | async) as clubs">
    <ng-container *ngIf="clubs.length === 0; else list">
        <div class="empty-list">
            <mat-card-title>Oops! Looks like you are not currently a member of any clubs.</mat-card-title>
            <div style="display: flex;flex-direction:row">
                <mat-card-subtitle>View a list of <a style="color: #c7c7c7" routerLink="/all_clubs">All Clubs</a> to join. </mat-card-subtitle>
            </div>
        </div>
    </ng-container>
    <ng-template #list>
        <div class="centered-lists">
            <tr *ngFor="let club of clubs">
                <div style="position: relative">
                    <mat-card style="width:1600px; height: 200px">
                        <mat-card-header>
                            <div class="event-name-join-button">
                                <mat-card-title>{{ club.name }}</mat-card-title>
                            </div>
                        </mat-card-header>
                        <mat-card-content>
                            <div class='description'>
                                <span>Categories:&nbsp;</span>
                                <span *ngFor="let category of club.categories">
                                    {{ category.name }}&nbsp;&nbsp;
                                </span>             
                            </div>
                            <div class='description'>Meeting Times:</div>
                            <div class='description' *ngFor="let meetingTime of club.meeting_times">
                                &nbsp;&nbsp;&nbsp;&nbsp;• {{ meetingTime.day }} {{ convertToTime(meetingTime.start_time) }} - {{ convertToTime(meetingTime.end_time) }}
                            </div>
                            <div class='description'>
                                {{ club.show_short_description ? getShortDescription(club) : club.description }}                  
                            </div>
                            <br>
                            <div class="side-buttons">
                                <mat-card-actions>
                                    <a mat-list-item class="logo-item">
                                        <img class="logo" [src]="'assets/' + club.name + '.png'" alt="No club logo" />
                                    </a>
                                </mat-card-actions>
                                <mat-card-actions>
                                    <button mat-raised-button (click)='leaveClub(club)' type="submit">Leave</button>
                                </mat-card-actions>
                                <mat-card-actions>
                                    <button mat-raised-button (click)='alterText(club)' type="submit">
                                        {{ club.show_short_description ? "Read More" : "Read Less" }}
                                    </button>
                                </mat-card-actions>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </tr>
        </div>
    </ng-template>
</div>    


