<h1>My Clubs</h1>

<table>
    <tbody>
        <tr *ngFor="let club of clubs$ | async">
            <td>{{ club.name }}</td>
            <div [ngClass]="{'show-less': club.show_short_description}">
                {{ club.short_description }}
            </div>
            <td>
                <button (click)="alterText(club)">
                    {{ club.show_short_description ? 'Read More' : "Read Less"}}
                </button>
            </td>
            <td>
                <button (click)="leaveClub(123456789, club)">
                    Leave
                </button>
            </td>
        </tr>
    </tbody>
</table>

