<div style="z-index:0; position:absolute">
    <div *ngIf="(clubs$ | async) as clubs">
        <ng-container *ngIf="clubs.length === 0; else list">
            <div class="empty-list">
                <mat-card-title>Oops! There are no pending clubs at the moment.</mat-card-title>
            </div>
        </ng-container>
        <ng-template #list>
            <tr *ngFor="let club of clubs">
                <div style="position: relative">
                    <mat-card style="width:1600px;">
                        <mat-card-header>
                            <div class="'event-name-join-button">
                                <mat-card-title>{{ club.name }}</mat-card-title>
                            </div>
                        </mat-card-header>
                        <mat-card-content>
                            <div class='description'>
                                Club Code: {{ club.club_code }}               
                            </div>
                            <div class='description'>
                                <span>Categories:&nbsp;</span>
                                <span *ngFor="let category of club.categories">
                                    {{ category.name }}&nbsp;&nbsp;
                                </span>             
                            </div>
                            <div class='description'>
                                <div>Meeting Times:&nbsp;</div>
                                <br>
                                <div *ngFor="let meetingTime of club.meeting_times">
                                    {{ meetingTime.day }} {{ meetingTime.start_time }} - {{ meetingTime.end_time }}
                                    <br>
                                </div>
                            </div>
                            <div class='description'>
                                {{ club.show_short_description ? getShortDescription(club) : club.description }}                  
                            </div>
                            <div class="side-buttons">
                                <mat-card-actions>
                                    <button mat-raised-button (click)='alterText(club)' type="submit">
                                        {{ club.show_short_description ? "Read More" : "Read Less" }}
                                    </button>
                                </mat-card-actions>
                            </div>
                            <mat-card-actions>
                                <button mat-raised-button [routerLink]="['/admin_club_members_list', club.id]">
                                    View Members
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button mat-raised-button [routerLink]="['/admin_club_leaders_list', club.id]">
                                    View Leaders
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button mat-raised-button [routerLink]="['/admin_club_events_list', club.id]">
                                    View Events
                                </button>
                            </mat-card-actions>
                        </mat-card-content>
                    </mat-card>
                </div>
            </tr>
        </ng-template>
    </div>    