<form>
    <mat-form-field appearance="fill">
        <mat-label>Select Club</mat-label>
        <mat-select (selectionChange)="selectionChange($event.value)">
            <mat-option *ngFor="let club of clubs$ | async" [value]="club.name">
                {{ club.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Enter Club Code: </mat-label>
        <input matInput #input>
    </mat-form-field>

    <br>

    <mat-card-actions>
        <button mat-raised-button (click)='onSubmit(input.value)' type="submit">
            Submit
        </button>
    </mat-card-actions>
</form>
