<form>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register an Event for Your Club</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Club Code</mat-label>
                <input matInput placeholder="3" #code required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Event Name</mat-label>
                <input matInput placeholder="Workshop" #name required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Event Description</mat-label>
                <input matInput placeholder="A scheduled workshop" #description required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Event Location</mat-label>
                <input matInput placeholder="Sitterson 156" #location required>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit" (click)="onSubmitEvent(code.value, name.value, description.value, location.value)">Create Event</button>
        </mat-card-actions>
    </mat-card>
</form>