<tr *ngFor="let event of club_events$ | async">
    <div style="position: relative">
        <mat-card style="width:1600px;">
            <mat-card-header>
                <div class="'event-name-join-button">
                    <mat-card-title>{{ event.name }}</mat-card-title>
                    <mat-card-title>Club: {{ event.club_id }}</mat-card-title>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class='description'>
                    {{ event.show_short_description ? getShortDescription(event) : event.description }}
                </div>
                <div class="side-buttons">
                    <mat-card-actions>
                        <button mat-raised-button (click)='onDelete(event)' type="submit">
                            {{ "Delete Event" }}
                        </button>
                    </mat-card-actions>
                    <mat-card-actions>
                        <button mat-raised-button (click)='alterText(event)' type="submit">
                            {{ event.show_short_description ? "Read More" : "Read Less" }}
                        </button>
                    </mat-card-actions>
                </div>
                <br>
                <div class="time-place">
                    <span style="font-size: 16px">{{ event.date | date: 'MM/dd/yy @ hh:mma' }} </span>
                    <br>
                    <span style="font-size: 16px">{{ event.location  }}</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</tr>
