
.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-buttons {
    display: flex;
    flex-direction: column;
}

.time-place {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}