<div *ngIf="(potential_clubs$ | async) as clubs">
    <ng-container *ngIf="clubs.length === 0; else list">
        <div class="empty-list">
            <mat-card-title>There are not currently any pending requests to become a club leader.</mat-card-title>
        </div>
    </ng-container>
    <ng-template #list>
        <tr *ngFor="let potential_club of clubs">
            <div style="position: relative">
                <mat-card style="width:1600px;">
                    <mat-card-header>
                        <div class="'event-name-join-button">
                            <mat-card-title>{{ potential_club.name }}</mat-card-title>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <div class='description'>
                            Description: {{ potential_club.description }}               
                        </div>
                        <div class='description'>
                            <span>Categories:&nbsp;</span>
                            <span *ngFor="let category of potential_club.categories">
                                {{ category.name }}&nbsp;&nbsp;
                            </span>             
                        </div>
                        <div class='description'>
                            <div>Meeting Times:&nbsp;</div>
                            <br>
                            <div *ngFor="let meetingTime of potential_club.meeting_times">
                                {{ meetingTime.day }} {{ meetingTime.start_time }} - {{ meetingTime.end_time }}
                                <br>
                            </div>
                        </div>
                        <mat-card-actions>
                            <button mat-raised-button (click)='approve(potential_club)' type="submit">
                                Approve
                            </button>
                            <button mat-raised-button (click)='deny(potential_club)' type="submit">
                                Deny
                            </button>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>
            </div>
        </tr>        
    </ng-template>
</div>